@mixin backgroundNumbers {
  position: absolute;
  top: 0;
  font-family: var(--font-accent), sans-serif;
  font-size: 400px;
  opacity: 0.02;
}

@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}